body {
  perspective: 400px;
  position: absolute;
}

.perspective-object {
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  display: flex;
  width: 200%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(170, 204, 170);
  z-index: -1;
}

.background-second,
.background-second,
.background-second {
  position: absolute;
  left: 0;
  width: 30%;
  height: 100%;
  background: red;
}
[data-background="1"] {
  background: blue;
  left: 30%;
}
[data-background="2"] {
  background: purple;
  left: 60%;
  width: 31%;
}


.mobile {
  position: absolute;
  transition: color 0.5s linear, transform 0.3s ease-out;
}

.hudtext {
  color: #e0dfdc;
  letter-spacing: .1em;
  white-space: pre;
  
  
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}

.hud {
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);

  z-index: 9999999;

  display: flex;
  gap: 30px;
  font-size: 50px;
}